/*@-------------------------------------------------------
| Walter A. Jablonowski     walter-a-jablonowski.github.io
----------------------------------------------------------  
|
| Widg
|
|
| Contents:  # (have fun)
|
|   - 
|
-------------------------------------------------------@*/

/* 
.ui-draggable, .ui-droppable {
	background-position: top;
}
*/

.widg {
  min-width:  255px;  /* no col break */
  min-height: 255px;
  /* padding: 2px 5px 5px 5px; */
  background-color: #ddd; 
}

.widg .ui-widget-header {
  /* margin: 0; */
  background-color: #ddd; 
  cursor: move;
}

.widg .del-item-btn {
  border:  0;
  padding: 0;
}
